# ignore Python virtual environments
/venv/


# ignore CSV and Excel data files
*.csv
*.xlsx

# ignore temporary and backup files
*.log
*.tmp
*.bak
~$*

# added code to exclude images in graphs folder in which data visualization is shown
/graphs/
/bexar_specific/visuals/

# ignore tableau
*.twbr

# ignore Python compiled files
__pycache__/
*.pyc


# ignore Jupyter notebooks if not tracking them
*.ipynb


# VS code settings
.vscode/


